.home{
    background-image: url("../images/img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    color: crimson;
}

h1{
    margin-top: 2rem;
}


.footer1{
    position: relative;
    width: 100%;
    background: linear-gradient(#03a9f4, #e91ee3);
    margin-top: 3rem;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer1 .links{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.footer1 .links li{
    text-decoration: none;
    list-style: none;
}
.footer1 .links  a{
    font-size: 1.5em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.footer1 .links  a:hover{
    transform: translateY(-10px);
}

.footer1 p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
.prof{
    padding: 2rem 2rem;
    border-radius: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.2);
    margin-right: 2rem;
}
.forms{
    margin-top: 1rem;
}
.img-thumbnail{
    border-radius: 50%;
    width: 230px;
    margin: 0rem 0rem 0rem 9rem;
}
.cards1 {
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.2);
}