body{
    background: #161623;
    color: #fff;
}

body::before{
    content: '';
    position: absolute;
    top: 50;
    left: 30;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(20% at 96% 30%);
}

/* body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 60%);
} */
/* body:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 60%);
} */

.home{
    position: relative;
    padding: 3rem;
    border-radius: 20px;
    
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

h1{
    margin-top: 4rem;
}


.footer1{
    position: relative;
    width: 100%;
    background: linear-gradient(#03a9f4, #e91ee3);
    margin-top: 3rem;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer1 .links{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.footer1 .links li{
    text-decoration: none;
    list-style: none;
}
.footer1 .links  a{
    font-size: 1.5em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
}

.footer1 .links  a:hover{
    transform: translateY(-10px);
}

.footer1 p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}



.prof{
    padding: 2rem 2rem;
    border-radius: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.2);
    margin-right: 2rem;
}
.forms{
    margin-top: 1rem;
}
.img-thumbnail{
    border-radius: 50%;
    width: 230px;
    margin: 0rem 0rem 0rem 9rem;
}
.cards1 {
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.2);
}


.login{
    padding: 3rem;
    border-radius: 20px;
    position: relative;
    margin: 30px;
    
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);

}

.login:hover{
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.blogs{
    padding: 2rem;
    border-radius: 20px;
    margin: 2rem;
    position: relative;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);

}

.blogs:hover{
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}


.submit .btns a{
    /* position: absolute;
    top: 0;
    left: 0; */
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 2rem 0rem;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    color: #fff;
    z-index: 1;
    font-weight: 400;
    font-size: 16px;
    overflow: hidden;
    letter-spacing: 1px;
    transition: 0.5s;
    backdrop-filter: blur(18px);
}
.submit .btns a:hover{
    letter-spacing: 3px;
    /* background: linear-gradient(90deg, rgba(2,0,36,0.4) 0%, rgba(233,30,99,0.6) 35%, rgba(0,212,255,0.8) 100%);     */
    
}
.submit .btns a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.1),
    transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}
.submit .btns:hover a::before{
    transform: skewX(45deg) translateX(200%);

}