{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}

<body>
    <!-- Content block -->
  <div class="text-center home ">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
    </div>
    {% endfor %}

    <h2> Welcome To Blog Website </h2>
    <hr>

    <div class="col-sm-12">
              <blockquote class="">
                  <p>{{quote.quote}}</p>
                  <footer class="blockquote-footer">
                      <cite title="Source Title" >{{quote.author| upper}}</cite>
                      
                  </footer>
                  
              </blockquote>
    </div>
    

    
  </div>
  <footer class="footer1">
    <ul class="links">
      {% if current_user.is_authenticated %}
      <a class="navbar-brand" href="/"> Blog !!! </a>
      <li class="user"><a href="{{url_for('main.profile',uname=current_user.username)}}">{{current_user.username}}</a></li>
      <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
      {% else %}
      <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
      {%endif%}
    </ul>
    <p>2021 Developer Derrick  |  All Rights Reserved</p>
  </footer>

</body>

{% endblock%}
